<header id="top">
  <b>025-xxxxxxxxx</b>
  <p class="pull-right">
    <a class="btn btnLogin" (click)="login($event)">登陆</a>
  </p>
</header>
<!-- 导航部分 -->
<nav id="nav">
  <b id="logo">
    <a href="#"><img src="../../assets/imgs/logo.png" alt="Logo"></a>
  </b>
  <ul class="list-inline pull-right">
    <li><a [routerLink]="['/']">首页</a></li>
    <li><a [routerLink]="['/info']">关于我们</a></li>
    <li><a [routerLink]="['/news']">新闻动态</a></li>
    <li><a [routerLink]="['/works']">作品展示</a></li>
    <li><a [routerLink]="['/contact']">联系我们</a></li>
    <li><a [routerLink]="['/bbs']">在线论坛</a></li>
  </ul>
</nav>
